DB_NAME=newspack_bedrock
DB_USER=newspack
DB_PASSWORD=
DB_HOST=localhost:3306
DB_PREFIX=wp_

WP_HOME=https://yoursite.com
WP_ENV=production

AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

MEMCACHED_HOST=127.0.0.1
MEMCACHED_PORT=11211

